{% extends 'base.html' %}

{% block title %} Детские считалочки {% endblock %}

{% block content %}
    <h1><small>... и социолингвистическое исследование!</small></h1>
	<h1></h1>
        <p> Привет!</p>
		<p> Пару лет назад мне предложили поиграть в "Летели дракончики, ели пончики", а в моей картине мира летают только лебеди, и пончиков они не едят...
		А совсем недавно я услашала, что жадиной-говядиной может быть не только соленый огурец и тоже очень удивилась.</p>
	    <p></p>
		<p>В общем, здесь я проверяю гипотезу о географическом распределении вариантов этих фраз.</p>
{% endblock %}
